<!-- snippet/product-price.liquid -->
{% if product.title %}
  {%- assign compare_at_price = product.compare_at_price -%}
  {%- assign price = product.price -%}
  {%- assign price_varies = product.price_varies -%}
  {%- assign available = product.available -%}
{% else %}
  {%- assign compare_at_price = 1999 -%}
  {%- assign price = 1999 -%}
  {%- assign price_varies = false -%}
  {%- assign available = true -%}
{% endif %}

{%- assign money_price = price | money -%}

{% if compare_at_price > price %}

  <span class="visually-hidden visually-hidden--relative-inline-block">{{ 'products.product.regular_price' | t }}</span>
  <s class="product-price__price">{{ compare_at_price | money }}</s>
  <span class="visually-hidden visually-hidden--relative-inline-block">{{ 'products.product.sale_price' | t }}</span>
  {% if available %}
    <span class="product-price__price product-price__sale">
      {{ money_price }}
      <span class="product-price__sale-label" aria-hidden="true">{{ 'products.product.on_sale' | t }}</span>
    </span>
  {% else %}
    <s class="product-price__price product-price__sale">
      {{ money_price }}
      <s class="product-price__sale-label" aria-hidden="true">{{ 'products.product.on_sale' | t }}</s>
    </s>
    <span class="product-price__sold-out">{{ 'products.product.sold_out' | t }}</span>
  {% endif %}

{% else %}

  {% if available %}
    <span class="product-price__price">{{ money_price }}</span>
  {% else %}
    <s class="product-price__price">{{ money_price }}</s>
    <span class="product-price__sold-out">{{ 'products.product.sold_out' | t }}</span>
  {% endif %}

{% endif %}
